/*
 * Author: DeVry University CEIS420 Team 3
 * Team leader: Richard Lara
 * Team members: Richard Lara, Juan Diaz, Manuel Gonzalez, 
 * Joey Gil, Devin Nguyen, Logan Susini, Mohammad Mohammad
 * GitHub: https://github.com/richardlara67/PairPort
 * Project: PairPort
 * Description: A JS, HTML and CSS based memory game.
 * The goal is to match pairs of cards in the least
 * number of matching attempts.
 */

html {
  width:100%;
  height:100%;
}
body {
  margin:0;
  padding:0;
  width:100%;
  height:100%;
  background-color: #222;
  font-family: arial, helvetica, sans-serif;
}

/**** back button ****/
 #back {
	top: 0;
	z-index: 99;
	width: auto;
	height: 1%;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	position: absolute;
	bottom: 0px;
	left: 0px;
}

#back img {
    width: 55%;
}
/**** END of back button ****/

.modal {
  position:fixed;
  z-index: 2;
  height: 90%;
  right: 0;
  top: 0;
  width: 100%;
  visibility: hidden;
  opacity:0;
  -webkit-transition:opacity 0.4s linear;
  -moz-transition:opacity 0.4s linear;
  -ms-transition:opacity 0.4s linear;
  -o-transition:opacity 0.4s linear;
  transition:opacity 0.4s linear;
}

.modal.show {
  visibility: visible;
  opacity:1;
}

.modal.hide {
  visibility:hidden;
  opacity:0;
}

.valign-table {
  display: table;
  table-layout: fixed;
}
.valign-cell {
  display: table-cell;
  vertical-align: middle;
}

/* Separate modal for how-to */

.modalHowTo {
  position:fixed;
  z-index: 3;
  height: 90%;
  right: 0;
  top: 0;
  width: 100%;
  visibility: hidden;
  opacity:0;
  -webkit-transition:opacity 0.4s linear;
  -moz-transition:opacity 0.4s linear;
  -ms-transition:opacity 0.4s linear;
  -o-transition:opacity 0.4s linear;
  transition:opacity 0.4s linear;
}

.modalHowTo-content {
  background-color: rgba(255,255,255,1);
  margin: 10% auto;
  width:70%;
  box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2),0 7px 20px 0 rgba(0,0,0,0.17);
}

.closeHowTo {
  padding: 15px;
  color:#ccc;
  float:right;
  font-size: 30px;
}

.closeHowTo:hover,
.closeHowTo:focus {
  color: #bbb;
  text-decoration: none;
  cursor:pointer;
}

.modalHowTo-body {
  padding: 10px 20px;
}

.modal-header h2 {
  margin: 0;
}

.modalHowTo-header {
  background: rgba(0,0,0,0.86);
  padding:15px;
  color:#fff
}


.modalHowTo.appear {
  visibility: visible;
  opacity:1;
}

.modalHowTo.hidden{
  visibility: visible;
  opacity: 0;
}

#pairport--app-container {
	background-image: url("../images/pairport_background.png");
	background-size: cover;
	background-position: 50%;
	width: 100%;
	height: 90%;
}

.pairport--menu-bar {
  width:100%;
  background-color: #222;
  height:10%;
  display:table;
}

.pairport--menu-bar .inner {
  display:table-cell;
  vertical-align:middle;
}
.pairport--menu-bar .left {
  text-align: left;
  float:left;
  width:50%;
}
.pairport--menu-bar .right {
  text-align: right;
  float:right;
  width:50%;
}
.pairport--app-name {
  color:#ccc;
  font-size:26px;
  margin:0;
  padding:1px 4px;
  font-family: "Courier New";
  letter-spacing: 2px;
}
@media screen and (max-width: 480px) {
  .pairport--app-name {
    font-size:16px;
  }
}

#pairport--howto-icon {
  height: 24px;
  position: absolute;
  top: 0px;
  right: 0px;
  display: block;
  padding:12px 8px;
  float: right;
  cursor:pointer;
  z-index: 5;
}

#pairport--settings-icon {
  height: 24px;
  display: block;
  padding:4px 8px;
  float: right;
}

#pairport--app-name {
  height: 40px;
  display: block;
  padding:4px 8px;
  float: left;
}

#pairport--end-game-modal .wrapper {
    text-align: center;
    color: #fff;
    padding: 20px 0;
    z-index: 3;
    margin-top: -5%;
}

#pairport--end-game-modal .wrapper:before {
        background: rgba(0, 0, 0, 0.72);
        width: 100%;
        height: 100%;
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        z-index: -5;
}


#pairport--end-game-modal h2,
#pairport--end-game-modal h3 {
  margin:0;
  margin-bottom: 4px;
}

#pairport--end-game-modal h2
{
    -webkit-animation: bounce-top 4.6s infinite;
  animation: bounce-top 4.6s infinite;
  font-size: 4em;
  padding: 10px 0;
}

#pairport--settings-modal {
  background-color: rgba(0, 0, 0, .56);
}

#pairport--settings-modal form {
  min-width:240px;
  width:50%;
  margin:0 auto;
  text-align: center;
  color:#fff;
}

/*replay button*/

#replay-button {
  background: transparent;
  border: solid 1.5px #fff;
  padding: .6em 3em;
  margin-top: 25px;
  font-size: 1.5em;
}

#replay-button a {
    text-decoration: none;
    color: #fff;
}


/*Used for how to*/

#pairport--howto-modal {
  background-color: rgba(0,0,0,.56);
}

.pairport--settings-label {
  margin:8px 0;
}

#pairport--settings-grid,
#pairport--settings-reset {
  width:100%;
  margin-bottom:16px;
  font-size:18px;
  background:transparent;
  color:#fff;
  height:50px;
  text-align: center;
  border: solid 1px #fff;
}

#pairport--settings-grid option {
  padding-top:5px;
  padding-bottom:5px;
}

#pairport--settings-reset {
  border-radius:5px;
  border:2px solid #fff;
  cursor: pointer;
}

#pairport--cards {
  margin:0 auto;
  padding:0;
  height:100%;
  list-style-type: none;
  list-style-image: none;
  position:relative;
}
/* entire container, keeps perspective */
.flip-container {
  -webkit-perspective: 1000px;
  perspective: 1000px;
  float:left;
}

/* flip the pane when clicked */
.flip-container.clicked .front {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
.flip-container.clicked .back {
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  -o-transform: rotateY(0deg);
  transform: rotateY(0deg);
}

/* flip speed goes here */
.flipper {
  width:90%;
  height:90%;
  margin:0% auto;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  position: relative;
  top:5%;
  bottom:5%;
}

/* hide back of pane during swap */
.front, .back {
  width:100%;
  height:100%;
  display: block;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  position: absolute;
  top: 0;
  left: 0;
}

/* front pane, placed above back */
.front {
  /* for firefox 31 */
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  -o-transform: rotateY(0deg);
  transform: rotateY(0deg);
  border-radius: 5%;
  background-image: url("../images/card_question.svg");
  background-position:50% 50%;
  background-repeat: no-repeat;
  background-size: contain;
	box-shadow: 0px 0px 20px 1px rgba(119, 116, 116, 0.34);

}

/* back, initially hidden pane */
.back {
  -webkit-transform: rotateY(-180deg);
  -moz-transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
  -o-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
  background-color: #fff;
  border-radius: 5%;
  background-position:50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.back.card-1 {
  background-image: url(../images/cards/pairport__card_1.png);
}
.back.card-2 {
  background-image: url(../images/cards/pairport__card_2.png);
}
.back.card-3 {
  background-image: url(../images/cards/pairport__card_3.png);
}
.back.card-4 {
  background-image: url(../images/cards/pairport__card_4.png);
}
.back.card-5 {
  background-image: url(../images/cards/pairport__card_5.png);
}
.back.card-6 {
  background-image: url(../images/cards/pairport__card_6.png);
}
.back.card-7 {
  background-image: url(../images/cards/pairport__card_7.png);
}
.back.card-8 {
  background-image: url(../images/cards/pairport__card_8.png);
}
.back.card-9 {
  background-image: url(../images/cards/pairport__card_9.png);
}
.back.card-10 {
  background-image: url(../images/cards/pairport__card_10.png);
}
.back.card-11 {
  background-image: url(../images/cards/pairport__card_11.png);
}
.back.card-12 {
  background-image: url(../images/cards/pairport__card_12.png);
}
.back.card-13 {
  background-image: url(../images/cards/pairport__card_13.png);
}
.back.card-14 {
  background-image: url(../images/cards/pairport__card_14.png);
}
.back.card-15 {
  background-image: url(../images/cards/pairport__card_15.png);
}

/** Animation CSS **/


/**
 * ----------------------------------------
 * animation bounce-top
 * ----------------------------------------
 */
@-webkit-keyframes bounce-top {
  0% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  40% {
    -webkit-transform: translateY(-24px);
            transform: translateY(-24px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  65% {
    -webkit-transform: translateY(-12px);
            transform: translateY(-12px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  82% {
    -webkit-transform: translateY(-6px);
            transform: translateY(-6px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  93% {
    -webkit-transform: translateY(-4px);
            transform: translateY(-4px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  25%,
  55%,
  75%,
  87% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
}
@keyframes bounce-top {
  0% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  40% {
    -webkit-transform: translateY(-24px);
            transform: translateY(-24px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  65% {
    -webkit-transform: translateY(-12px);
            transform: translateY(-12px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  82% {
    -webkit-transform: translateY(-6px);
            transform: translateY(-6px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  93% {
    -webkit-transform: translateY(-4px);
            transform: translateY(-4px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  25%,
  55%,
  75%,
  87% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
}


/**
 * ----------------------------------------
 * Animation for the plane 
 * ----------------------------------------
 */
.frame {
  width: 500px;
  height: auto;
  margin: 15% auto 0;
  position: absolute;
  width: 100%;
}

svg {
  max-width: 100%;
  height: auto;
  display: block;
}


.plane-container {
  width: 200px;
  margin: -20px auto 0;
  z-index: 3;
  -webkit-animation: paper-plane-scoping 2s alternate infinite;
  -moz-animation: paper-plane-scoping 2s alternate infinite;
  animation: paper-plane-scoping 2s alternate infinite;

  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  animation-timing-function: linear;
}
 /*Paper Plane: Image*/
.plane {
  width: 100%;
  height: 122px;
  -webkit-animation-timing-function: ease-in-out;
  -moz-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation: paper-plane-soaring 4s forwards infinite;
  -moz-animation: paper-plane-soaring 4s forwards infinite;
  animation: paper-plane-soaring 4s forwards infinite;
  opacity: .92
}

@-webkit-keyframes paper-plane-scoping {
  0% {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    transform: translateY(0px);
  }
  100% {
    -webkit-transform: translateY(100px);
    -moz-transform: translateY(100px);
    transform: translateY(100px);
  }
}

@-webkit-keyframes paper-plane-soaring {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  40% {
    -webkit-transform: rotate(10deg);
    -moz-transform: rotate(10deg);
    transform: rotate(10deg);
  }
  50% {
    -webkit-transform: rotate(15deg);
    -moz-transform: rotate(15deg);
    transform: rotate(15deg);
  }
  60% {
    -webkit-transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
    transform: rotate(-10deg);
  }
  70% {
    -webkit-transform: rotate(-15deg);
    -moz-transform: rotate(-15deg);
    transform: rotate(-1deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

/** Matching Cards **/
/**
 * If you wish to have custom matching images, you can do so
 * by leveraging the 'matching' class which is added to one
 * of the matching cards. See the example below.
 *
 * .back.card-1 {
 *   background-image: url(../images/PairPort/apple_1.jpg);
 * }
 *
 * .back.matching.card-1 {
 *   background-image: url(../images/PairPort/apple_2.jpg);
 * }
 *
 */

